# Practical 4

## Extraction of latent Variables

Aim: To extract Latent variables

Since the dataset has Names and cities which could be use for Analyzing news for those areas , it becomes essential to Extract those information before cleaning is done on the dataset

### Retreiving Cities and States

Using the City and State list created above

In [42]:
citylist=citylist.astype(str)

In [43]:
def getCity(text):
    result=""
    for a in citylist:
        if a.strip() in text:
            result+=a+","
    return result.split(',')[0]

In [44]:
def getState(text):
    result=""
    for a in statelist:
        if a.strip() in text:
            result+=a+","
    return result.split(',')[0]

In [45]:
df['city']=df['summary'].apply(lambda x:getCity(x))

In [46]:
df['state']=df['summary'].apply(lambda x:getState(x))

### Removing news names,cities and states

In [48]:
def removeNames(text):
    for a in newsnamelist:
        if a in text:
            text=text.replace(a,"")
    for a in citylist:
        if a in text:
            text=text.replace(a,"")
    for a in statelist:
        if a in text:
            text=text.replace(a,"")
    return text;

In [49]:
df['title']=df['title'].apply(lambda x:removeNames(x))

In [50]:
df['trimmed_description']=df['trimmed_description'].apply(lambda x:removeNames(x))

In [51]:
df['summary']=df['summary'].apply(lambda x:removeNames(x))

## dates:

In [52]:
def addCrawl(crawltext):
    f = "%Y-%m-%d"
    crawltext=crawltext.split('T')[0].strip()
    currdate=datetime.datetime.strptime(crawltext, f)
    return currdate

In [53]:
df['crawl_time']=df['crawl_time'].apply(lambda x:addCrawl(x))

In [54]:
def printx(text):
    text=list(text)
    print(text)

In [55]:
def addDate(text):
    text=text.split('$$$')
    datelist=[]
    currdate=text[1]
    dates=list(datefinder.find_dates(text[0]))
    for dates1 in dates:
        date1=dates1
        if date1.year==2017:
            currdate=date1
    return currdate

In [56]:
df.dtypes

url                            object
source                         object
crawl_time             datetime64[ns]
title                          object
trimmed_description            object
summary                        object
city                           object
state                          object
dtype: object

In [57]:
df['crawl_time']=df['crawl_time'].apply(lambda x:toString(x))

In [58]:
df['Date']=df['summary']+df['trimmed_description']+'$$$'+df['crawl_time']

In [59]:
df['Date']=df['Date'].apply(lambda x:addDate(x)) ## this takes alot of time

In [60]:
df['Date'].head()

0    2017-01-01 00:00:00
1    2017-01-01 00:00:00
2    2017-01-01 00:00:00
3    2017-01-01 00:00:00
4    2017-04-15 00:00:00
Name: Date, dtype: object

In [61]:
tempdf=df #checkpoint

### Removing Errors from the texts

In [62]:
def removeError(text): ## function for removing errors
    text=str(text)
    text = re.sub('[^a-z A-Z]', "", text) ## this will remove everything except the alphabets a-z and A-Z
    return text

In [63]:
df['title']=df['title'].apply(lambda x:removeError(x))

In [64]:
df['summary']=df['summary'].apply(lambda x:removeError(x))

In [65]:
df['trimmed_description']=df['trimmed_description'].apply(lambda x:removeError(x))

In [66]:
df['source']=df['source'].apply(lambda x:removeError(x))

In [67]:
df.head()

,url,source,crawl_time,title,trimmed_description,summary,city,state,Date
0,http://www.thehindu.com/news/national/New-Army...,The Hindu,2017-01-01 00:00:00,New Army Air Force Chiefs assume charge,The Army and the Air Force got new chiefs on S...,The Army and the Air Force got new chiefs on S...,,,2017-01-01 00:00:00
1,http://www.thehindu.com/news/national/kerala/K...,The Hindu,2017-01-01 00:00:00,KSRTC unions call for stir on Jan,The Indian National Trade Union Congress INTUC...,Utility needs crore to pay salary two months ...,,,2017-01-01 00:00:00
2,http://www.thehindu.com/news/cities/mumbai/Luc...,The Hindu,2017-01-01 00:00:00,Lucky escape for tourists in SGNP bus mishap,More than people on board a bus operated by ...,More than people on board a bus operated by ...,Mumbai,,2017-01-01 00:00:00
3,http://www.thehindu.com/news/cities/Hyderabad/...,The Hindu,2017-01-01 00:00:00,A successful year for Tollywood,The year just gone by will undoubtedly go down...,The year saw a diverse range of movies being r...,,,2017-01-01 00:00:00
4,http://www.sify.com/news/china-to-ban-ivory-tr...,Sify,2017-01-01 00:00:00,China to ban ivory trade by end of,php iffunctionexistsismobile ismobile php ...,Beijing China will ban the processing and sale...,,,2017-04-15 00:00:00

### Removing Dates

In [68]:
df.shape

(68557, 9)

Now we will start applying the function

In [69]:
datelist="Monday Tuesday Wednesday Friday Saturday Sunday monday tuesday wednesday friday saturday sunday mon tues wed fri sat sun jan feb mar april may june july aug sept oct nov dec Jan Feb Mar April May June July Aug Sept Oct Nov Dec  January February March April May June July Sept August October November December january february march mar april may june july sept august october november december".split(' ')

In [70]:
def removeDates(x):
    for a in datelist:
        if a in x:
            x=x.replace(a,"")
    return x

In [71]:
df['title']=df['title'].apply(lambda x:removeDates(x))
df['summary']=df['summary'].apply(lambda x:removeDates(x))
df['trimmed_description']=df['trimmed_description'].apply(lambda x:removeDates(x))

In [72]:
df.head()

,url,source,crawl_time,title,trimmed_description,summary,city,state,Date
0,http://www.thehindu.com/news/national/New-Army...,The Hindu,2017-01-01 00:00:00,New Army Air Force Chiefs assume charge,The Army and the Air Force got new chiefs on ...,The Army and the Air Force got new chiefs on ...,,,2017-01-01 00:00:00
1,http://www.thehindu.com/news/national/kerala/K...,The Hindu,2017-01-01 00:00:00,KSRTC unions call for stir on,The Indian National Trade Union Congress INTUC...,Utility needs crore to pay salary two ths pen...,,,2017-01-01 00:00:00
2,http://www.thehindu.com/news/cities/mumbai/Luc...,The Hindu,2017-01-01 00:00:00,Lucky escape for tourists in SGNP bus mishap,More than people on board a bus operated by ...,More than people on board a bus operated by ...,Mumbai,,2017-01-01 00:00:00
3,http://www.thehindu.com/news/cities/Hyderabad/...,The Hindu,2017-01-01 00:00:00,A successful year for Tollywood,The year just gone by will undoubtedly go down...,The year saw a diverse range of movies being r...,,,2017-01-01 00:00:00
4,http://www.sify.com/news/china-to-ban-ivory-tr...,Sify,2017-01-01 00:00:00,China to ban ivory trade by end of,php iffunctionexistsismobile ismobile php ...,Beijing China will ban the processing and sale...,,,2017-04-15 00:00:00